/*QLabel {
    border-radius: 5px;
    font-size: 16px;

    border: 2px solid #8000ff;
    color: #8000ff;

    font: bold;
    padding: 6px;

}*/

SynWindow {
    background-image: url(:/phon.jpeg);
}
